---
name: Auto-deployment of PEH-model Documentation
on:
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      contents: write  # to let mkdocs write the new docs
      pages: write     # to deploy to Pages
      id-token: write  # to verify the deployment originates from an appropriate source

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # otherwise, you will failed to push refs to dest repo

      - name: Set up Python.
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies.
        run: pip install -e ".[docs]"

      - name: Build documentation.
        run: |
          mkdir -p docs
          touch docs/.nojekyll
          gen-doc -d docs linkml/schema/peh.yaml
          cp README.md docs/about.md
          mkdocs gh-deploy